.checkout-container {

    // X-Small
    @media only screen and (max-width:600px) {
        width: 100% !important;

        .btn-size {
            width: 100px;
            content: none;
        }
    }

    // Small
    @media only screen and (min-width: 600px) and (max-width:960px) {
        width: 100% !important
    }

    // Medium
    @media only screen and (min-width: 960px) and (max-width:1264px) {
        width: 75% !important
    }

    // Large
    @media only screen and (min-width: 1264px) and (max-width:1904px) {
        width: 75% !important
    }

    @media only screen and (min-width: 1904px) {
        width: 75% !important
    }
}