$color-dark: #000;
$color-red: #ec9e9e;
$color-orange: #ffa500;
$color-golden: #ffd700;
$color-silver: #aaa9ad;
$color-white: #fff;


$colors: (
    dark: $color-dark,
    red: $color-red,
    orange: $color-orange,
    golden: $color-golden,
    silver: $color-silver,
    white: $color-white
);

$fonts: (
    bolder: bolder,
    500:500,
    600:600,
    lighter:lighter,
    italic:italic,
    normal:normal
);

$sizes: (
    100:100%,
    75:75%,
    50:50%,
    25:25%
);

@each $name,
$val in $colors {
    .text-#{$name} {
        color: $val  !important;
    }

    .btn-#{$name} {
        background-color: $val  !important;
    }

    .bg-#{$name} {
        background-color: $val  !important;
    }
}

@each $name,
$val in $fonts {
    .fw-#{$name} {
        font-weight: $val  !important;
    }

    .fs-#{$name} {
        font-style: $val  !important
    }
}


@each $name,
$val in $sizes {
    .w--#{$name} {
        width: $val  !important;
    }

    .h-#{$name} {
        height: $val  !important
    }
}